.mask, .mask2 {
    top: 0;
    left: 0
}

.boxMask, span {
    display: inline-block
}

body {
    background-color: #fdfdfd
}

.abm {
    color: #1e90ff;
    font-size: 28pt;
}

* {
    font-family: Roboto, sans-serif
}

.boxMask {
    position: relative;
    overflow: hidden
}

.mask, .mask1, .mask2, .maskImage {
    position: absolute;
    width: 100%;
    height: 100%
}

.mask1 {
    background-color: #4285f4
}

.maskImage {
    background-color: #90a0af
}

.mask2 {
    margin-left: 60%
}

.avatar img {
    width: 200px;
    border-radius: 100%
}

.avatar {
    position: relative
}

.avatar_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.avatar_layer svg {
    width: 200px
}

span {
    white-space: pre
}

.test {
    opacity: 0;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { color: inherit; } 







@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0019 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0019 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0019 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0019 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.snip0019 figcaption > div {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: relative;
}
figure.snip0019 figcaption::before {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 2px;
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0019 h2,
figure.snip0019 p {
  margin: 0;
  padding: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
}
figure.snip0019 h2 {
  text-align: right;
  display: inline-block;
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(50%, 0%, 0);
  transform: translate3d(50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0019 h2 span {
  font-weight: 800;
}
figure.snip0019 p {
  display: block;
  bottom: 0;
  text-align: left;
  font-weight: 300;
  top: 0%;
  color: #000;
  background: #ffffff;
  -webkit-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0019 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  position: absolute;
  color: #ffffff;
}
figure.snip0019:hover img {
  opacity: 0.7;
}
figure.snip0019:hover figcaption h2,
figure.snip0019:hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0019:hover figcaption h2 {
  opacity: 1;
}
figure.snip0019:hover figcaption p {
  opacity: 1;
}
figure.snip0019:hover figcaption::before {
  background: #ffffff;
  top: 0px;
  bottom: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}



@media(max-width: 654px){
  figure.snip0019 {
   left: 23%;
 }
}

@media(max-width: 565px){
  figure.snip0019 {
   left: 17%;
 }
}

@media(max-width: 421){
  figure.snip0019 {
   left: 12%;
 }
}

@media(max-width: 414px){
  figure.snip0019 {
   left: 10%;
 }
}

@media(max-width: 393px){
  figure.snip0019 {
   left: 8%;
 }
}
@media(max-width: 390px){
   figure.snip0019 {
    left: 7%;
  }
}

@media(max-width: 375px){
  figure.snip0019 {
   left: 6%;
 }
}

@media(max-width: 360px){
  figure.snip0019 {
   left: 4%;
 }
}


